.Modall {
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translate(-50%, -50%);
    width:90%;
    padding: 1.7rem 1rem;
    
    background-color: #F8FCFF;
  
  
  }
  h2{
    font-size: 20px;
    text-align: center;
  }
  form{
    margin-top: 20px;
    position: relative;
  }
  .input-class::placeholder{
    color:rgba(153, 153, 153, 0.544);
  }
 
  .button-close-modal{
    position: absolute;
    top: 10px;
    right:10px;

    font-size:30px;
  }
 .button-send-email{
  margin-top: 15px;
  height:40px;

  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;

  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  }
  .message{
    width:100%;
    position:relative;
    margin-top:10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.message .success{
    font-size: 14px;
    color:green;
    position: absolute;  
    width:80%;   
    animation: buttons .5s linear;
    background-color: #7fe87f29;
    padding:3px 15px;
    text-align: center;
     
}



@keyframes buttons {
    
    0%{
     
        transform: scaleX(0.1);
    }
    50%{
     
        transform: scaleX(0.5);
    }
    100%{
        transform: scaleX(1);
   
    }
}

.formField__error{
  color:red;
  font-size: 12px;
  font-weight:400;
  width:100%;
  display: block;
  margin-bottom: 5px;
  
}
.input-property-wrapper-cod{
  position:relative;
  width: 100%;

  height: 45px;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.input-property-wrapper-cod input{
  height: 100%;
  width: 70%;
  border-radius: 8px;
  background-color: #fff;
  border:none;
  border:1px solid #c9c9c9;
  padding:0 12px;
}
.input-property-wrapper-cod input::placeholder{
  color:rgb(195, 195, 195);
}
.button-cod{

  width:25%;
  border-radius:5px !important;
  background-color:transparent;
  color:#49599f;
  border:1px solid #49599f;
  padding:7px 7px;
  font-size: 13px;
  margin-right: 3px;
}
.property-wrapper-op{
  height: 90%;
  width: 80%;
  border-radius: 8px;
  background-color: #fff;
  border:none;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
 background-color: #00d61f12;
 position: relative;
  
}
.label-message-property{
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  color: #004a7b;
  cursor:pointer;
  margin-top: 5px;
  margin-bottom: 10px;
}
.icon-property-search-opp{
  position:absolute;
  top:-2px;
  right:0;
  color:  #28342a75;
  font-size: 22px;
}
.img-property-search-opportunity{
  width:40px;
  height:40px;
  max-width: 40px;
  max-height: 40px;
  
}
.property-name-op{
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.loading-search-property{
  background:#49599f35;
  height: 90%;
  width: 80%;
  border-radius: 8px;
}
@media screen and (min-width: 700px){
  .Modall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:70% !important;
    padding: 2rem 2rem;
    background-color: #F8FCFF;

    
  }
}

  @media screen and (min-width: 1000px){
    .Modall {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:40% !important;
      padding: 2rem 2rem;
      background-color: #F8FCFF;
  
      
    }
  
    .Overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rebeccapurple;
    }
  }
  @media screen and (min-width: 1300px){
    .Modall {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:40% !important;
      padding: 2rem 2rem;
      background-color: #F8FCFF;
  
      
    }
  
    .Overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rebeccapurple;
    }
  }