.ModalR{
   position: absolute;
    top:370px !important;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  
    padding: 1rem 1rem;
    background-color: #F8FCFF;
    overflow: hidden;
     
}


.ModalR .title-wrapper{
    margin-top: 45px;
    width:100%;
    padding:12px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom:1px solid #e7e7e7;

   
}
.ModalR .title-wrapper h2{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color:#545454;
    font-size:18px;

}

.ModalR .title-wrapper .button-add-image{
 
    display: flex;
    align-items: center;
    justify-content: center;
   
    background: rgba(191,235,214,0.5);
    color: green;
    width:30px;
    height: 30px;
    border: none;
    border-radius: 2px;
    font-size:  30px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
   
}

.ModalR .button-close-modal-registration{
    position: absolute;
    top: 13px;
    right: 6px;
    font-size: 30px;
}

.ModalR form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 0;
    background: rgba(191,235,214,0.5);
    color: green;
    width:30px;
    height: 30px;
    border: none;
    border-radius: 2px;
    font-size:  30px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}
.ModalR form input[type='file']{
   position: absolute;
   top:0;
   left: 0;
   opacity:0;
   
  
}

input[type=file]::-webkit-file-upload-button{
    cursor:pointer;
}

.ModalR .message-add-image{
    font-family: "Nunito Sans", sans-serif;
    color: green;
    margin-top:10px;
    width: 100%;
    padding:0 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ModalR .message-add-image button{
    border: none;
    width:65px;
    border-radius: 4px;
    font-size: 13px;
    width: 65px;
    height: 30px;
    
}
.ModalR .message-add-image .cancel-button-file{
    background-color: #dbdbdb;
    color:#5d5c5c;

}

.ModalR .message-add-image .send-button-file{
    position: relative;
    background: rgba(191,235,214,0.5);
    color: green;

}
.ModalR .message-file-success{
    text-align: center;
    background: rgba(191,235,214,0.5);
    color: green;
}
.ModalR .message-file-error{
    text-align: center;
    background: rgb(235 191 191 / 50%);
    color:#bd2626f0;
}


    


.Modal-delete{

    position: absolute;
    top: 370px;
    left: 50%;
    transform: translate(-50%, -50%);
    width:80%;
    padding: 1.7rem 1rem;
   
    background-color: #F8FCFF;
}

.Modal-delete h1{
text-align: left;
font-family: 'Nunito Sans', sans-serif;
font-size: 18px;
font-weight: 600;
margin-bottom: 1rem;

}

.Modal-delete p{
font-family: 'Nunito Sans', sans-serif;
color: rgb(105, 105, 105);
}

.Modal-delete .delete-button-lead{
background-color: rgb(231, 44, 44);
color:#fff;
padding:5px 10px;
border: none;
border-radius: 2px;
font-weight: 400;
font-size: 13px;
margin-bottom: 0;
}

.Modal-delete .cancel-button-lead{
background-color: rgb(216, 216, 216);
color:#000000;
padding:5px 10px;
border: none;
font-weight: 400;
margin-right: 10px;
border-radius: 2px;
font-size: 13px;
}

.Modal-delete .buttons-wrapper-lead{
width: 100%;
display: flex;
align-items: center;
justify-content: end;

}

@media screen and (min-width:450px){

    .ModalR{
        position: absolute;
         top:370px !important;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 75%;
       
         padding: 1rem 1rem;
         background-color: #F8FCFF;
         overflow: hidden;
          
     }
    .Modal-delete{

    width:70%;
    padding: 1.7rem 1rem;
   
    background-color: #F8FCFF;
}

}

@media screen and (min-width:600px){
    .Modal-delete{



    width:60%;
    padding: 1.7rem 1rem;
   
    background-color: #F8FCFF;
}

}

@media screen and (min-width:800px){
    .Modal-delete{



    width:50%;
    padding: 1.7rem 1rem;
   
    background-color: #F8FCFF;
}

}

@media screen and (min-width:1000px){
    .Modal-delete{
    width:37%;
    padding: 1.7rem 1rem;
   
    background-color: #F8FCFF;
}

.ModalR .title-wrapper h2{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color:#545454;
    font-size:22px;

}

}

@media screen and (min-width:1400px){
    .Modal-delete{



    width:30%;
    padding: 1.7rem 1rem;
   
    background-color: #F8FCFF;
}

}